<h2> Follow Up Schedule Day <%= @follow.id %> </h2>

day: <%= @follow.id %>
<br/>
fever: <%= @follow.fever %>
<br/>
cough: <%= @follow.cough %>
<br/>
breath: <%= @follow.breath %>
<br/>
people: <%= @follow.people %>