
<%= form_with model:@follow, local:true  do |form| %>
<p>
fever:

<%= form.radio_button :fever, true %> 
  <%= form.label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :fever, false ,:checked => true  %>
  <%= form.label :fever, 'No', :value => false %>
  </p> 

<p>
cough:
<%= form.radio_button :cough, true %> 
  <%= label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :cough, false, :checked => true %>
  <%= label :fever, 'No', :value => false %>
  </p> 

<p>
breath:
<%= form.radio_button :breath, true %> 
  <%= label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :breath, false, :checked => true %>
  <%= label :fever, 'No', :value => false %>
  </p> 

<p>
people:
<%= form.text_area :people %>
</p>
<p>
<%= form.submit 'create'%>
</p>
<% end %>