<div class="card" style="width: 80rem; margin: auto; text-align: center; ">
<div class="card-header">
<%= form_with model:@follow, local:true  do |form| %>
<p>
Do you have fever ?
<%= form.radio_button :fever, true %> 
  <%= form.label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :fever, false ,:checked => true  %>
  <%= form.label :fever, 'No', :value => false %>
  </p> 

<p>
Do you have cough ?
<%= form.radio_button :cough, true %> 
  <%= label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :cough, false, :checked => true %>
  <%= label :fever, 'No', :value => false %>
  </p> 

<p>
Do you feel Shortness of breath or difficulty breathing ? 
<%= form.radio_button :breath, true %> 
  <%= label :fever, 'Yes' , :value => true %>
  <%= form.radio_button :breath, false, :checked => true %>
  <%= label :fever, 'No', :value => false %>
  </p> 

<p>
If you meet someone today write his/her name:
<br/>
<%= form.text_area :people %>
</p>
<p>
<%= form.submit 'Submit' , class:"btn btn-info"%>
</p>
<% end %>

</div>
</div>