<br/>
<div class="index-div">
<% if user_signed_in? %>
<h1  style ="text-align: center; "><span class="badge badge-secondary">Follow Up Schedule index</span></h1>
<% if current_user.role == "R_user" then %>
<%= link_to "Add For Today", new_follow_path,{ :class => "btn btn-info"} %>

<br/>
<table class= "table table-hover" style="width: 150rem; margin: auto; text-align: center; border-collapse: separate; border-spacing: 15px; ">
  <thead >
  <tr >
    <th>day</th>
    <th>Name </th>
    <th> cough</th>
    <th>fever</th>
    <th>breath</th>
    <th>People you met</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Additional</th>
  </tr>
</thead>
<tbody>
<% @follows.each do |follow|%>
<% if (follow.cough == true) && (follow.fever == true) && (follow.breath == true) then%>
<tr class="table-danger">
<td><%= follow.updated_at.strftime("%A, %d/%m/%Y") %></td>
<td><%= follow.user.name %></td>
<td><%= follow.cough %></td>
<td><%= follow.fever %></td>
<td><%= follow.breath %></td>
<td><%= follow.people %></td>
<td><%= link_to 'Show', follow_path(follow) %> </td>
<td><%= link_to 'Edit', edit_follow_path(follow) %></td>
<td><%= link_to 'Destroy', follow,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <td>You Need To seek care immediately</td>
</tr>
<% else %>
<tr class="table-info">
<td><%= follow.updated_at.strftime("%A, %d/%m/%Y") %></td>
<td><%= follow.user.name %></td>
<td><%= follow.cough %></td>
<td><%= follow.fever %></td>
<td><%= follow.breath %></td>
<td><%= follow.people %></td>
<td><%= link_to 'Show', follow_path(follow) %> </td>
<td><%= link_to 'Edit', edit_follow_path(follow) %></td>
<td><%= link_to 'Destroy', follow,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <td></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>
<% else %>
 <table class= "table table-hover" style="width: 150rem; margin: auto; text-align: center; border-collapse: separate; border-spacing: 15px;">
  <thead >
  <tr >
    <th>day</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Age</th>
    <th>cough</th>
    <th>fever</th>
    <th>breath</th>
    <th>people he/she met</th>
  </tr>
</thead>
<tbody>
<% @follows.order("created_at desc").each do |follow|%>
<% if (follow.cough == true) && (follow.fever == true) && (follow.breath == true) then%>
<tr class="table-danger">
<td><%= follow.updated_at.strftime("%A, %d/%m/%Y") %></td>
<td><%= follow.user.name %></td>
<td><%= follow.user.phone %></td>
<td><%= follow.user.age %></td>
<td><%= follow.cough %></td>
<td><%= follow.fever %></td>
<td><%= follow.breath %></td>
<td><%= follow.people %></td>
</tr>
<% else %>
<tr class="table-info">
<td><%= follow.updated_at.strftime("%A, %d/%m/%Y") %></td>
<td><%= follow.user.name %></td>
<td><%= follow.user.phone %></td>
<td><%= follow.user.age %></td>
<td><%= follow.cough %></td>
<td><%= follow.fever %></td>
<td><%= follow.breath %></td>
<td><%= follow.people %></td>
</tr>
<% end %>
<% end %>
</tbody>
</table> 
<% end %>
<% end %>
</div>