
<div class="card" style="width: 80rem; margin: auto; text-align: center; font-size: 50px;">
<div class="card-header" style="background-color: #e3f2fd; font-size: 50px; ">
<h2> Follow Up Day <%= @follow.updated_at.strftime("%A, %d/%m/%Y") %> </h2>
</div>
<ul class="list-group list-group-flush">

<li class="list-group-item">fever: <%= @follow.fever %></li>

<li class="list-group-item">cough: <%= @follow.cough %></li>

<li class="list-group-item">breath: <%= @follow.breath %></li>

<li class="list-group-item">people: <%= @follow.people %></li>

<% if (@follow.cough == true) && (@follow.fever == true) && (@follow.breath == true) then%>
<button type="button" class="btn btn-danger">You Need To seek care immediately</button>
<% end %>
</ul>
<%= link_to 'Back', follows_path %> 
</div>


