<!DOCTYPE html>
<html>
  <head>
    <title>CoronatrackersProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%
=begin%>
 <% if user_signed_in? %>
  <p> Welcome <%=  current_user.name %> </p>
  <% end %> 
<%
=end%>
<%= render 'layouts/nav' %>
    <%= yield %>
    <div class="footer" style= "position: fixed; left: 0; bottom: 0; width: 100%; background-color: #D3D3D3; color: black; text-align: center; ">
  <p>COVID19-Finder</p>
</div>
  </body>
</html>
